.img-perfil {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: 0.5rem;
    background-image: url(../../../assets/dummy-user.png);
    background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: center;
}

input{
    margin-bottom: 17px;
}

label{
    font-size: 14px;
    font-weight: 400;
}

.container-fluid{
    overflow: hidden;
}

.formGroup2{
    float: left;
    width: 100%;
}