<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <img class="logo" src="../../../assets/logo.jpg" alt="Logo">
      <h3>Redefinir senha</h3>
      <p class="text-center">Por favor informe seu e-mail para redefinir sua senha.</p>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="E-mail" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Ou</span></span>
      </div>
      <div class="redirectToLogin">
        <span>Voltar para <span class="redirect" routerLink="/sign-in">Entrar</span></span>
      </div>
    </div>
  </div>
</div>