<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <img class="brand-logo" src="assets/gymlogo.png" alt="positronX.io Logo">
  </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
              <i class="fas fa-user"></i>Exercícios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register-exercise" routerLinkActive="active">
              Adicionar Exercício
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Sair
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <table class="table">
          <thead>
          <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Student Course</th>
          <th scope="col">Fees</th>
          <th scope="col">Action </th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exercise of Exercise; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ exercise.name }}</td>
              <td>{{ exercise.equipment }}</td>
              <td>{{ exercise.primaryGroup }}</td>
              <td>{{ exercise.secondaryGroup }}</td>
              <td>
                <span (click)="removeExercise(exercise)" class="btn btn-danger">Delete</span> &nbsp;
                <span routerLink="/update-student/{{exercise.eid}}" class="btn btn-primary">Edit</span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </main>

  </div>
</div>