<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <img class="logo" src="../../../assets/logo.jpg" alt="Logo">
      <h3>Obrigado por registrar-se</h3>
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">Nós enviamos uma confirmação de e-mail para <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Por favor verifique seu e-mail e clique no link para finalizar.</p>
      </div>
      
      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Envie novamente
        </button>
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Ou</span></span>
      </div>
      <div class="redirectToLogin">
        <span>Voltar para<span class="redirect" routerLink="/sign-in"> Entrar</span></span>
      </div>
    </div>
  </div>
</div>